
.d1{
  background-color: grey;


}
#Roti{
  margin: 10px 10px 10px 10px;
}

.d2{
  background-color: grey;
}
#Rice{
  margin: 10px 10px 10px 10px;

}
#Biriyani{
  margin: 10px 10px 10px 10px;
}
.d3{
  background-color: grey;
}

